*{
    margin: 0px;
    padding: 0px;
}
.header-section {
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menus {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 19px;
    font-style: italic;
}
.main-content {
    height: 100vh;
    background-image: url("./asset/image/background.jpg"),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}
p.paragraph {
    width: 50%;
    margin: auto;
    color: white;
}
h2.header {
    font-size: 57px;
    color: white;
    font-weight: 700;
}
button.btn.btn-primary {
    background: red;
    padding: 14px 20px 12px 22px;
    color: white;
    border: none;
    border-radius: 4px;
}
.main-section {
    height: 100vh;
    background-image: url("./asset/image/footer-bg.png"),linear-gradient(rgba(0,0,0,0.92),rgba(0,0,0,0.84));
    background-blend-mode: overlay;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    /* text-align: center; */
    display: flex;
    padding: 20px;
}
img.chart-img{
    width: 70px;
}
p.main-section-paragraph {
    width: 50%;
}
.first-two-box {
    display: flex;
    gap: 9px;
    padding: 10px;
}
.box {
    background-color: white;
    padding: 45px;
    border-radius: 5px;
}
img.author-img{
    width: 70px;
    border-radius: 50%;
}
/* .headshot {
    display: flex;
    justify-content: space-around;
} */
.author-section {
    display: flex;
    align-items: center;
    margin-top: 11px;
}
h5.smith {
    color: white;
    margin-left: 10px;
    border-right: 28px solid red;
    padding-right: 21px;
}
.hire {
    margin-left: 20px;
}
h5.smith {
    color: white;
    margin-left: 10px;
    border-right: 2px solid red;
    padding-right: 21px;
    height: 33px;
}
h2.main-section-header {
    color: white;
    font-size: 43px;
    margin-top: 15px;
}
p.main-section-paragraph {
    width: 50%;
    color: white;
}
li.items {
    color: white;
    margin-left: 16px;
    margin-top: 10px;
}
.second-section-text {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    background-color: red;
    padding: 25px;
    border-radius: 5px;
    margin-top: -32px;
}
img.phone-call {
    width: 45px;
}
h2.bottom-header {
    font-size: 9px;
}
button.bottom-footer {
    color: black;
    padding: 10px;
    background-color: white;
    border: none;
    font-weight: bold;
    border-radius: 3px;
}
.card {
    width: 88%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px;
    margin: auto;
    background-color: gray;
    padding: 10px;
    /* border-radius: 5px; */
}
h2.blog-header {
    text-align: center;
    margin: 50px;
}
.images-card {
    /* background-color: red; */
    width: 220px;
    height: 300px;
}
.card-with-images {
    display: flex;
    gap: 10px;
    /* padding: 209px; */
    justify-content: center;
}
img.blog-1 {
    width: 100%;
}